<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CalculationCoreInformation" connectionString="Server=83.133.158.45;Database=db2008;Uid=rkdbg;Pwd=Rchnkrn2008;Pooling=false" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>